<header>
    <mdb-navbar #navbarRoot appNavbarNavManipulator
    SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false"
    [class.navbar-transparent]="state==='home'">
      <mdb-navbar-brand>
        <a class="logo navbar-brand" href="">
          <strong>Kate Ruban</strong>
        </a>
      </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item waves-light" mdbWavesEffect (click)="scrollToClick('home')" [class.active]="state==='home'">
            <a class="nav-link">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect (click)="scrollToClick('cv')" [class.active]="state==='cv'">
            <a class="nav-link">CV</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect (click)="scrollToClick('portfolio')" [class.active]="state==='portfolio'">
            <a class="nav-link">Portfolio</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect (click)="scrollToClick('contacts')" [class.active]="state==='contacts'">
            <a class="nav-link">Contacts</a>
          </li>
        </ul>
      </links>
    </mdb-navbar>
</header>