<!-- <router-outlet></router-outlet> -->
<div 
    appScrollspy [spiedTags]="['div', 'app-home', 'app-cv', 'app-portfolio', 'app-contacts']" 
    (sectionChange)="onSectionChange($event)" 
    style="height:100vh;overflow:auto">
    <app-navbar></app-navbar>
    <div id="home"><app-home></app-home></div>
    <div id="cv"><app-cv></app-cv></div>
    <div id="portfolio"><app-portfolio></app-portfolio></div>
    <div id="contacts"><app-contacts></app-contacts></div>
    <app-footer></app-footer>
</div>
